---
http_interactions:
- request:
    method: get
    uri: https://awis.us-west-1.amazonaws.com/api?Action=CategoryListings&Count=20&Descriptions=True&Path=Top/Games/Card_Games&Recursive=True&ResponseGroup=Listings&SortBy=Popularity&Start=0
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      X-Amz-Date:
      - 20180505T215951Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<FILTERED>/20180505/us-west-1/awis/aws4_request,
        SignedHeaders=accept;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=7fa0ca12be7add8a7fd1303e1ed3d2e251b7120fe16cfed817cebe50c01756c3
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Amzn-Requestid:
      - a3424cb5-50af-11e8-a41b-ad036b599443
      X-Amz-Apigw-Id:
      - GbtlzEcQyK4Fq5w=
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?>
        <aws:CategoryListingsResponse xmlns:aws="http://awis.amazonaws.com/doc/2005-10-05">
          <aws:Response xmlns:aws="http://awis.amazonaws.com/doc/2005-07-11">
            <aws:OperationRequest>
              <aws:RequestId>a343ac39-50af-11e8-a44f-bd7180612d0c</aws:RequestId>
            </aws:OperationRequest>
            <aws:CategoryListingsResult>
              <aws:Alexa>
                <aws:Request>
                  <aws:Arguments>
                    <aws:Argument>
                      <aws:Name>path</aws:Name>
                      <aws:Value>Top/Games/Card_Games</aws:Value>
                    </aws:Argument>
                    <aws:Argument>
                      <aws:Name>start</aws:Name>
                      <aws:Value>0</aws:Value>
                    </aws:Argument>
                    <aws:Argument>
                      <aws:Name>count</aws:Name>
                      <aws:Value>20</aws:Value>
                    </aws:Argument>
                    <aws:Argument>
                      <aws:Name>sortby</aws:Name>
                      <aws:Value>Popularity</aws:Value>
                    </aws:Argument>
                    <aws:Argument>
                      <aws:Name>descriptions</aws:Name>
                      <aws:Value>True</aws:Value>
                    </aws:Argument>
                    <aws:Argument>
                      <aws:Name>recursive</aws:Name>
                      <aws:Value>True</aws:Value>
                    </aws:Argument>
                    <aws:Argument>
                      <aws:Name>responsegroup</aws:Name>
                      <aws:Value>Listings</aws:Value>
                    </aws:Argument>
                  </aws:Arguments>
                </aws:Request>
                <aws:CategoryListings>
                  <aws:RecursiveCount>799</aws:RecursiveCount>
                  <aws:Count>0</aws:Count>
                  <aws:Listings>
                    <aws:Listing>
                      <aws:DataUrl type="navigable">http://ace2three.com/</aws:DataUrl>
                      <aws:Title>Ace2Three - the best Indian Rummy</aws:Title>
                      <aws:PopularityRank>14946</aws:PopularityRank>
                      <aws:Description>Play Indian Rummy and Win real cash prizes. Play rummy against live players in single and multi-table tournaments.</aws:Description>
                    </aws:Listing>
                    <aws:Listing>
                      <aws:DataUrl type="navigable">http://www.bridgewebs.com/</aws:DataUrl>
                      <aws:Title>BridgeWebs</aws:Title>
                      <aws:PopularityRank>37505</aws:PopularityRank>
                      <aws:Description>Enables bridge clubs and associations to [...]
