---
http_interactions:
- request:
    method: get
    uri: https://awis.us-west-1.amazonaws.com/api?Action=TrafficHistory&Range=31&ResponseGroup=History&Start=20180404&Url=github.com
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Content-Type:
      - application/xml
      X-Amz-Date:
      - 20180505T215610Z
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - AWS4-HMAC-SHA256 Credential=<FILTERED>/20180505/us-west-1/awis/aws4_request,
        SignedHeaders=accept;content-type;host;user-agent;x-amz-content-sha256;x-amz-date,
        Signature=3541a4c59b54d144cd1d5f15ff0e05ea54feb5c5640f0dac54c646143a7d1c19
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml
      X-Amzn-Requestid:
      - 1f626190-50af-11e8-a148-07b9d0672bc4
      X-Amz-Apigw-Id:
      - GbtDOGXcyK4FqJA=
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" ?>
        <aws:TrafficHistoryResponse xmlns:aws="http://awis.amazonaws.com/doc/2005-10-05">
          <aws:Response xmlns:aws="http://awis.amazonaws.com/doc/2005-07-11">
            <aws:OperationRequest>
              <aws:RequestId>1f6399f7-50af-11e8-bc59-d7267e425f47</aws:RequestId>
            </aws:OperationRequest>
            <aws:TrafficHistoryResult>
              <aws:Alexa>
                <aws:Request>
                  <aws:Arguments>
                    <aws:Argument>
                      <aws:Name>start</aws:Name>
                      <aws:Value>20180404</aws:Value>
                    </aws:Argument>
                    <aws:Argument>
                      <aws:Name>range</aws:Name>
                      <aws:Value>31</aws:Value>
                    </aws:Argument>
                    <aws:Argument>
                      <aws:Name>url</aws:Name>
                      <aws:Value>github.com</aws:Value>
                    </aws:Argument>
                    <aws:Argument>
                      <aws:Name>responsegroup</aws:Name>
                      <aws:Value>History</aws:Value>
                    </aws:Argument>
                  </aws:Arguments>
                </aws:Request>
                <aws:TrafficHistory>
                  <aws:Range>31</aws:Range>
                  <aws:Site>github.com</aws:Site>
                  <aws:Start>2018-04-04</aws:Start>
                  <aws:HistoricalData>
                    <aws:Data>
                      <aws:Date>2018-04-04</aws:Date>
                      <aws:PageViews>
                        <aws:PerMillion>1440</aws:PerMillion>
                        <aws:PerUser>4.84</aws:PerUser>
                      </aws:PageViews>
                      <aws:Rank>59</aws:Rank>
                      <aws:Reach>
                        <aws:PerMillion>11600</aws:PerMillion>
                      </aws:Reach>
                    </aws:Data>
                    <aws:Data>
                      <aws:Date>2018-04-05</aws:Date>
                      <aws:PageViews>
                        <aws:PerMillion>1360</aws:PerMillion>
                        <aws:PerUser>4.67</aws:PerUser>
                      </aws:PageViews>
                      <aws:Rank>61</aws:Rank>
                      <aws:Reach>
         [...]
